* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #092a49;
    ;
    font-family: "Oswald", serif;
}

p {
    font-family: "Lato", serif;
    color: rgb(128, 128, 128);
}

a {
    color: white;
    text-decoration: none;
}


.active {
    color: #0796f3;
}

/* top navbar */
.top-header {

    background-color: #0871c0;
    /* background: linear-gradient ( #0793f9, #085490,#083e6b,#092c4d); */
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}

/* topbar time and phone */

.side {
    display: flex;
    font-size: 15px;

    .time {
        display: flex;
        margin-right: 15px;

        i {
            margin-right: 10px;
        }
    }

    .phone {
        display: flex;

        i {
            margin-right: 10px;
        }
    }
}

/* Social media icon */
.icon {
    display: flex;

    a {
        color: white;
        margin-right: 20px;


    }
}

/* MAIN navbar */

.navbar {
    /* display: flex; */
    /* justify-content: right; */

    background-color: #092a49;
    padding: 20px;
    position: sticky;
    top: 0;


    .navlink {
        text-align: right;

        a {
            font-family: "Lato", serif;
            margin-right: 20px;
            font-size: 20px;
            text-transform: uppercase;
        }

        .navlink a:hover {
            color: #0796f3;
        }

    }
}

/* Contact section */
.container {
    width: 90%;
    margin: 100px auto 30px auto;

}

.text {
    padding: 10px;
    margin-left: 40px;

    p {

        font-size: 20px;
    }

    h2 {
        margin-left: 30px;
        font-size: 40px;
        font-weight: lighter;

    }

}

/* contact sidebar */
.sub-container {
    display: flex;
    justify-content: space-around;

}

.contact {
    display: grid;
    /* grid-template-columns: 10px 400px 400px; */
    margin: 15px 10px;

}

.office {
    display: flex;
    border: 1px solid #e5e5e5;
    padding: 30px 30px;
    height: 70px;
    letter-spacing: 1px;
    line-height: 35px;

    i {
        color: #0796fe;
        border: 1px solid #e5e5e5;
        margin: 12px 0px;
        /* padding: 10px; */
        font-size: 20px;
        height: 45px;
        width: 45px;
        text-align: center;
        align-content: center;
    }

    div {
        margin: 0px 0px 0px 15px;

        h4 {
            font-size: 15px;
            font-weight: 300px;

        }
    }
}

.office:hover {
    box-shadow: 1px 1px 10px 3px #e5e5e5;

}

.phone1 {
    display: flex;
    border: 1px solid #e5e5e5;
    padding: 30px 30px;
    /* margin: 20px ; */
    height: 70px;
    letter-spacing: 1px;
    line-height: 35px;

    i {
        color: #0796fe;
        border: 1px solid #e5e5e5;
        margin: 12px 0px;
        /* padding: 10px; */
        font-size: 20px;
        height: 45px;
        width: 45px;
        text-align: center;
        align-content: center;
    }

    div {
        margin: 0px 0px 0px 15px;

        h4 {
            font-size: 15px;
            font-weight: 300px;

        }
    }
}

.phone1:hover {
    box-shadow: 1px 1px 10px 3px #e5e5e5;

}

.email {
    display: flex;
    border: 1px solid #e5e5e5;
    padding: 30px 30px;
    /* margin: 20px ; */
    height: 70px;
    letter-spacing: 1px;
    line-height: 35px;

    i {
        color: #0796fe;
        border: 1px solid #e5e5e5;
        margin: 12px 0px;
        /* padding: 10px; */
        font-size: 20px;
        height: 45px;
        width: 45px;
        text-align: center;
        align-content: center;
    }

    div {
        margin: 0px 0px 0px 15px;

        h4 {
            font-size: 15px;
            font-weight: 300px;

        }
    }
}

.email:hover {
    box-shadow: 5px 5px 25px #e5e5e5;

}

/* footer */
footer {
    background-color: #092a49;
    color: white;
}

.main-footer {

    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    padding: 40px;
    margin: 0px 50px;
}

/* our head office */
.head {
    width: 100%;
    color: white;

    h3 {
        font-weight: lighter;
        font-size: 25px;
        margin-bottom: 30px;

    }

    div {
        display: flex;
        margin-bottom: 10px;

        i {
            margin: 10px 10px 5px 0px;
        }

        p {
            margin: 5px 5px 5px 0px;
        }
    }
}

.footer-icon a {
    font-size: 25px;
    margin: 10px 5px;
}

.footer-icon a:hover {
    color: #0796f3;
}

/* News letter */
.newsletter {
    /* width: 50%; */


    h3 {
        font-weight: lighter;
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 30px;

    }

    p {
        font-size: 15px;
        letter-spacing: 1px;
        word-spacing: 1px;
        text-align: justify;
        line-height: 25px;
    }
}

/* form */

.form {
    position: relative;


    input {
        margin-top: 10px;
        height: 60px;
        width: 100%;
        border-radius: 40px;
    }

    input::placeholder {
        padding: 20px;
        font-size: 20px;
    }

    button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        width: 100px;
        padding: 14px;
        border-radius: 40px;
        font-size: 12px;
        font-weight: bold;
    }


}

button:hover {
    color: #0796f3;
    background-color: #092a49;
}

/* down footer */
.footer {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;

    p a:hover {
        color: #0796f3;
    }
}

hr {
    color: #22405c;
    height: .1px;
    justify-self: center;
    width: 70%;
}

/* Services section */
.service {
    margin-bottom: 50px;
}

/* for text */
.service-text {
    margin: 2rem 0rem 1rem 9rem;
    /* border: 1px solid black; */

    p {
        font-size: 18px;

    }

    h2 {
        margin-left: 55px;

        font-size: 40px;
        font-weight: 150;

    }

}

/*main card container */
.card-container {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-wrap: wrap;
    gap: 40px 40px;
}

/* single card container */
.card {
    height: auto;
    width: 275px;
    border: 1px solid #e5e5e5;

    /* text written inside the card */
    .card1 {
        padding: 36px;
        text-align: center;
        /* margin-bottom: 15px; */

        h2 {
            font-size: 27px;
            font-weight: 200;
            margin: 10px 0px;

        }

        p {
            font-size: 18.5px;
            line-height: 25px;
        }
    }

}

/* hovering the card */
/* box-shadow: h-offset(-l,+r),v-offset(-t,+b),blur,spread(+shadow incresed,- decrease) */
.card:hover {
    box-shadow: 10px 10px 25px -2px #e5e5e5, -10px -10px 25px -2px #e5e5e5;
    /* box-shadow: 10px 10px 50px 12px #e5e5e5, -10px -10px 50px 12px #e5e5e5; */
}

/* team section */
.team-container {
    width: 100%;
    margin: 50px 0px 50px 0px;

}

/* for text */
.team-text {

    margin: 10px 0px 20px 52px;

    p {

        font-size: 18px;
    }

    h2 {
        margin-left: 40px;

        font-size: 40px;
        font-weight: 150;

    }

}

/* image container */
.team-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

/* single image */

.member {
    position: relative;
    z-index: -1;
}

.image-wrapper img {
    border-radius: 20px;
    width: 320px;
    height: 400px;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: -16px;
    left: 25%;
    width: 200px;
    border-radius: 14px;
    text-align: center;
    padding: 8px;
    background-color: white;

}

/*                     About                                            */

/* main container */
/* .about{
    margin: 50px;
} */
.about-top {
    display: flex;
    justify-content: space-around;
    height: 530px;
    margin: 50px auto 0px auto;
    column-gap: 50px;
    /* border: 1px solid black; */
}

/* image container */
.about-img {
    z-index: -1;
    position: relative;

}

/* image  */
.about-relative img {
    border-radius: 40px;
    height: 350px;
    width: 400px;

}

.about-absolute img {
    position: absolute;
    top: 9rem;
    left: 9.8rem;
    border-radius: 40px;
    height: 350px;
    width: 400px;
}

/* text */
.about-text {
    width: 40%;


    p {
        margin-bottom: 25px;
        font-size: 18px;

    }

    .paragraph p {
        margin-bottom: 15px;
        font-size: 17px;
        letter-spacing: 0.2px;
        text-align: justify;

    }
}

/* Vision and Misssion */
.bottom {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;

    button {
        padding: 8px;
        width: 80px;
        margin-top: 50px;
        border: 2px solid black;
    }

    button:active {
        background-color: #0796fe;
        color: white;
    }
}

/* Vision  only*/
/* h4 */
.vision-absolute {
    position: relative;
    width: 80%;
    margin: 50px auto 0px auto;
    font-size: 29px;
    font-weight: 350;


    /* first hr line below visison */
    .one {
        position: absolute;
        top: 3rem;
        width: 7rem;
        height: 1.4px;
        background-color: black;
        left: 0rem;
        border: hidden;
    }

    /* 2nd hr line blow 1st line" */
    .two {
        position: absolute;
        top: 4rem;
        width: 3.5rem;
        height: 2.2px;
        background-color: black;
        left: 0rem;
        border: hidden;
    }
}

/* vision container */
.vision {
    margin: 50px auto 0px auto;
    display: flex;
    width: 80%;
    justify-content: center;

}

/* main vision text and image container*/


/* vision text */
.vision-text {
    /* margin-top: 50px; */
    line-height: 1.4;
    font-size: 20px;
}

/* mission  */
/* h4 */
.mission {
    position: relative;
    margin: 50px auto 0px auto;
    font-size: 29px;
    font-weight: 350;
    width: 80%;
    text-align: center;

    /* first hr line below mission */
    .mission-absolute1 {
        position: absolute;
        top: 3rem;
        width: 7rem;
        height: 1.4px;
        background-color: black;
        left: 35rem;
        border: hidden;
    }


    /* 2nd hr line blow 1st line" */
    .mission-absolute2 {
        position: absolute;
        top: 4rem;
        width: 3.5rem;
        height: 2.2px;
        background-color: black;
        left: 35rem;
        border: hidden;
    }
}

/* main container */
.mission-container {
    margin: 50px auto 50px auto;
    display: flex;
    width: 80%;
    justify-content: center;
}

/* mission text and image  */

/* text written in misiion statement */
.mission-text {
    line-height: 1.4;
    font-size: 20px;
    text-align: justify;
}

/* proprietor */
/* proprietor h2 */
.proprietor {
    font-size: 50px;
    font-weight: 100;
    text-align: right;
    width: 76%;

}

/* main container */
.proprietor-container {
    display: flex;
    justify-content: space-around;
}

.proprietor-img img {
    height: 460px;
    margin-top: 30px;
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.proprietor-text {
    margin: 30px 0px;
    height: auto;
    width: 585px;

    p {
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 17px;
        text-align: justify;
    }
}

/* home slider */
/* slider image */
/* .slider {
    position: relative;
    width: 100%;

}

.slider-img img {
    position: relative;
    height: 680px;
    width: 100%;
    object-fit: cover;
}

.slider-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #092a49b9;

} */

/* Next & previous buttons */
/* .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
    color: #0796fe;
    right: 0;
    top: 47.2rem;
    background-color: #092a49;
    border-radius: 3px 0 0 3px;
} */

/* .prev {
    color: #0796fe;
    left: 92%;
    top: 47.2rem;
    background-color: #092a49;
    border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
    background-color: #0796fe;
    color: white;
} */

/* text 1*/
/* .slidertext1 {
    text-align: center;

    h2 {
        position: absolute;
        top: 14rem;
        left: 27.2rem;
        font-size: 44px;
        font-weight: 200;
        width: 40%;

    }

    p {
        position: absolute;
        top: 23rem;
        left: 24rem;
        width: 48%;
        font-size: 20px;
    }
} */

/* text2 */
/* .slidertext2 {
    text-align: center;

    h2 {
        position: absolute;
        top: 16rem;
        left: 27.2rem;
        font-size: 44px;
        font-weight: 200;
        width: 40%;

    }

    p {
        position: absolute;
        top: 21rem;
        left: 24rem;
        width: 48%;
        font-size: 20px;
    }
} */

/* slider text3 */
/* .slidertext3 {
    text-align: center;

    h2 {
        position: absolute;
        top: 16rem;
        left: 27.2rem;
        font-size: 44px;
        font-weight: 200;
        width: 40%;

    }

    p {
        position: absolute;
        top: 21rem;
        left: 24rem;
        width: 48%;
        font-size: 20px;
    }
} */

/* Home card */
.home-card {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px 40px;
    margin: 80px;
    text-align: center;
    justify-content: center;
}

.home-team {
    width: 200px;
    height: auto;
    box-shadow: 16px 6px 15px 0px #e5e5e5, -8px -8px 15px 0px #e5e5e5;
    padding: 20px;

    h3 {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 200;
    }
}

.home-team:hover {
    box-shadow: none;
    border: 1px solid #e5e5e5;
}

/* home-choose */
/* home-choose section */
.card-choose {
    width: 85%;
    margin: 50px auto 50px auto;
    display: flex;
}

/* text written under p */
.features-container p {
    text-align: justify;
}

/* image */
.homefeature-image {
    img {
        height: 400px;
        width: 500px;
        margin: 50px 20px 10px 20px;
        object-fit: cover;
    }
}

/* heading */
.choose-top {
    padding: 30px;

    h3 {
        margin-left: 2rem;
        font-size: 40px;
        font-weight: 150;
    }
}

/* icon added in our features */
.features-icon {
    display: flex;
    flex-wrap: wrap;

}

/* single icon */
.staff {
    gap: 20px;
    display: flex;
    width: 300px;

    i {
        color: #0796f3;
        font-size: 30px;
        padding: 10px;
        align-self: center;

    }

    div {
        width: 200px;

        h2 {

            font-size: 40px;
            font-weight: 150;
        }

        p {
            font-size: 20px;
        }
    }
}




/* button in home page of service */
.home-service-button {
    margin: 2rem 0rem 1rem 9rem;
}

.home-service-button button {
    /* width: 80px;
    height: 30px; */
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: gray;
    padding: 15px;
    font-size: 15px;
    font-weight: 200;
}

/* hover */
.home-service-button button:hover {
    background-color: gray;
    color: white;
    border: hidden;
}

/* home our city */
.home-client {
    width: 80%;
    margin: 20px auto 40px auto;

    h2 {
        font-size: 40px;
        font-weight: 150;

    }
}

/* client image */
.client-image {
    /* width: 80%; */
    text-align: center;

    img {
        padding: 20px;
        height: 110px;
        width: 110px;
        /* background-color: #0796fe; */
    }
}